<style type="text/css">
</style>
<script type="text/javascript">
</script>
<h2>
    首頁</h2>
<div style="height: 1000px;">
    <div ng-app="myApp">
        <div ng-controller="MyCtrl">
        </div>
    </div>
</div>
