@model IEnumerable<SafetyCorner.Models.Quicklink>
<div class="navigation">
    <a href="http://clweb/iso/iso.htm" target="_blank">
        <img border="0" width="140" height="30" src="content/img/ISCorner.gif" alt="工安園地"></a>
    <div class="navigation-title">
        相關網站
    </div>
    <ul class="navigation-link">
        @foreach (var item in Model)
        { 
            <li><a title="@item.Title" href="@item.Href" target="@item.Target">@item.Text
            </a></li>
        }
    </ul>
</div>
