/*@import "reset.css";*/
body, table, p, div, span, form, input, textarea, select, pre, button, a
{
    font-family: "微軟正黑體" , "Microsoft JhengHei" , "新細明體" , "PMingLiU" , AppleGothic, Dotum, Lucida Grande, Verdana Sans-serif; /*color: #fff;     font-size: 14pt; line-height: 18pt;*/
}
.body-color
{
    background: #1F497D !important;
}
/*左方快速連結*/
.navigation
{
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 120px;
    left: 10px;
    z-index: 1;
    width: 150px;
}
.navigation-link
{
    list-style-type: none;
    padding-left: 20px;
    margin-top: 10px;
}
.navigation-link li
{
    background-image: url('img/li_icon.png');
    background-repeat: no-repeat;
    background-position: 0 0.4em;
    padding-left: 22px;
    margin: 0 0 10px 0;
}
.navigation-link li a
{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 14pt;
}
.navigation-link li a:hover
{
    color: #F79646; /*padding-left: 10px;*/
}

.navigation-title
{
    margin-top: 15px;
    padding-left: 15px;
    color: #F79646;
    font-size: 18pt;
    font-weight: bold;
}
/* end 左方快速連結*/

.main
{
   
    margin:0 160px;
    _text-align: center;
    text-align: center;
    min-width: 1024px;
}
.site-title
{
    margin: 20px 0 40px 0;
}

/* 上方menu*/
.menu
{
    text-align: center;
    _text-align: center;
    margin: 0px auto;
    min-width: 1024px;
}
.menu-bg
{
    background-color: #1F497D;
    position: fixed;
    top: 0;
    height: 70px;
    display: none;
    z-index: 9999;
    width: 100% !important;
}

.menu-fixed
{
    position: fixed;
    top: 20px;
    z-index: 9999;
}

.sub-menu
{
    display: none;
    position: absolute;
    background: #ffffff;
    text-align: left;
    width: 126px;
    border: 1px solid silver;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 3px rgba(128,128,128,0.5);
    -moz-box-shadow: 0px 2px 3px rgba(128,128,128,0.5);
    box-shadow: 0px 2px 3px rgba(128,128,128,0.5);
    z-index: 10;
}

.menu-list
{
    list-style-type: none;
    padding: 0px;
    margin: 5px 0px;
}

.menu-list li a
{
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 12pt;
    margin-left: 10px;
}
.menu-list li:hover
{
    background-color: #0088cc;
    cursor: pointer;
}
.menu-list li:hover a
{
    color: #fff;
}

.menu-title
{
    display: inline;
    padding: 15px;
    border: 1px solid #fff;
    background-color: #4E6128;
    margin: 0px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 14pt;
}
.menu-title:hover
{
    color: #F79646;
    border: 1px solid #fff;
    background-color: #4E6128;
    cursor: pointer;
}
/* end 上方menu*/

.content
{
    margin-top: 40px;
    border: 2px solid #387CCF;
    width: 100%;
    text-align: left;
    padding: 10px;
    
    min-width: 1024px;
}

.content-color
{
    background: #2D84AE;
}

.content label
{
    color: #fff;
    font-size: 16px;
    line-height: 1.428571429;
}

.content h2
{
    color: #fff;
}

.content input
{
    /*color:#000000 !important;*/
}

.content-fixed
{
    margin-top: 110px;
}

.fl
{
    float: left;
}

.fr
{
    float: right;
}





