@using SafetyCorner.Common
<!-- TODO Bookstarp form-inline style 
http://getbootstrap.com/
calender(還是不行)
form style(font size)
-->
<script type="text/javascript">
  
  
</script>
<style type="text/css">
    .btnFolder
    {
        background: url(../../Content/img/li_icon.png) left center no-repeat;
        padding-left: 20px;
        height: 25px;
    }
    
    .btn-file
    {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        display: inline-block;
    }
    .btn-file input[type=file]
    {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 999px;
        text-align: right;
        opacity: 0;
        -moz-opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0) background: red;
        cursor: inherit;
    }
    
    input[readonly]
    {
        background-color: white !important;
        cursor: text !important;
    }
</style>
<h2>
    會議記錄</h2>
@if (TempData["message"] != null)
{
	
    @TempData["message"]
   
}
@using (@Html.BeginForm("Upload", "ConferenceRecond", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
				
    <label>
        檔案名稱：</label>
    <div class="file-control">
        <input type="text" readonly="" />
        <span><span class="btn-file">請選擇
            <input name="file" id="file" type="file" />
        </span></span>
    </div>
    <!-- /file-control -->
    <input type="submit" value="上傳" />
    <input type="button" value="關閉" />
}
<div ng-app>
    <div ng-controller="FormCtrl">
        <label>
            日期：</label>
        <div>
            <input id="datepicker" ng-model="fileDate" data-format="yyyy/MM/dd" type="text" />
        </div>
        <label>
            內容：</label>
        <div>
            <input type="text" ng-model="fileName" />
        </div>
        <div>
            <input type="submit" ng-click="search()" value="查詢" />
            <input type="button" value="上傳檔案" />
        </div>
        <table id="grid">
        </table>
        <div id="pager">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).on('change', '.btn-file :file', function () {
        var input = $(this), numFiles = input.get(0).files ? input.get(0).files.length
: 1, label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });

    $(document).ready(function () {
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
            var input = $(this).parents('.file-control').find(':text'),
			log = numFiles > 1 ? numFiles + ' files selected' : label;
            if (input.length) { input.val(log); } else { if (log) alert(log); }
        });

        $("#datepicker").datepicker();



        var grid = $('#grid');
        grid.jqGrid({
            url: '/ConferenceRecond/Query/',
            datatype: 'json',
            jsonReader: {
                repeatitems: false
            },
            mtype: 'GET',
            colModel: [
				{ name: 'Create_Date', label: '日期', width: 40, align: 'left', formatter: dateDisplay },
				{ name: 'File_Size', label: '檔案大小', width: 40, align: 'left', formatter: fileSizeDisplay },
				{ name: 'File_Name', label: '內容', width: 40, align: 'left', formatter: downloadDisplay },
			],
            pager: '#pager',
            width: 800,
            height: 'auto',
            rowNum: 10,
            rowList: [5, 10, 20, 50],
            sortname: 'Create_Date',
            sortorder: "desc",
            viewrecords: true,
            caption: '會議記錄列表'
        });

        function dateDisplay(cellvalue, options, rowObject) {
            var date = new Date(parseInt(cellvalue.substr(6)));
            return date.getFullYear() + '/' + date.getMonth() + '/' + date.getDate();
        }
        function fileSizeDisplay(cellvalue, options, rowObject) {
            if (isNaN(parseFloat(cellvalue)) || !isFinite(cellvalue)) return '-';
            if (typeof precision === 'undefined') precision = 1;
            var units = ['bytes', 'kB', 'MB', 'GB', 'TB', 'PB'],
			number = Math.floor(Math.log(cellvalue) / Math.log(1024));
            return (cellvalue / Math.pow(1024, Math.floor(number))).toFixed(precision) + ' ' + units[number];
        }
        function downloadDisplay(cellvalue, options, rowObject) {
            return '<a href="' + rowObject.File_Root + '">' + cellvalue + '</a>'
        }

    });

    function FormCtrl($scope) {

    }
</script>
