<h2>會議記錄</h2>
<hr />
<form action="@Url.Action("Upload")" method="post" enctype="multipart/form-data">
<label for="file">檔案名稱</label>
<input type="file" name="file" id="file" />
<input type="submit" value="上傳"/>
</form>